<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit One</title>
    <link rel="stylesheet" href="/detail.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
  </head>
  <body>
    <div class="header" id="topmost">
    <h1 id="title">Edit {{name}}</h1>
    </div>

    <form method="post" action="/detail/edit/{{_id}}">
      <h3>Pokemon Name:</h3>
      <input type="text" name="name" placeholder="{{name}}">
      <h3>Pokemon Nickname(not required):</h3>
      <input type="text" name="nickName" placeholder="name">
      <h3>Select your Pokemon's type (up to two):</h3>
      <div id="checkboxes">
        <input type="checkbox" name="type" value="flying"/> Flying
        <input type="checkbox" name="type" value="grass"/> Grass
        <input type="checkbox" name="type" value="poison"/> Poison
        <input type="checkbox" name="type" value="ghost"/> Ghost
        <input type="checkbox" name="type" value="ground"/> Ground
        <input type="checkbox" name="type" value="rock"/> Rock
        <input type="checkbox" name="type" value="psychic"/> Psychic
        <input type="checkbox" name="type" value="fairy"/> Fairy
        <input type="checkbox" name="type" value="normal"/> Normal
        <input type="checkbox" name="type" value="fire"/> Fire
        <input type="checkbox" name="type" value="water"/> Water
        <input type="checkbox" name="type" value="fighting"/> Fighting
        <input type="checkbox" name="type" value="dark"/> Dark
        <input type="checkbox" name="type" value="ice"/> Ice
        <input type="checkbox" name="type" value="dragon"/> Dragon
      </div>

      <br/>
      <h3>Is the Pokemon a wonder?</h3>
      <input type="radio" name="isAWonder" value="true">Yes
      <input type="radio" name="isAWonder" value="false">No

      <h3>What is the Combat Power of the Pokemon?</h3>
      <input type="number" name="combatPoints" placeholder="CP Number">
      <h3>What is the date of the catch?</h3>
      <input type="date" name="dateCaught" placeholder="Date you caught it?">
      <button type="submit">Complete Edit</button>
      <a href="/">Cancel Edit</a>


      <footer>Stefanie Boscarino 2017</footer>
  </body>
</html>
